.container{
    width: 60%!important;
    box-shadow: 0 0 15px 1px rgb(50,50,50,0.5);
    border-radius: 5px;
    margin-top: 4%!important;
    padding-top: 5px;
    padding-left:30px!important;
}
h3{
    text-align: center;
    margin-top: 20px!important;
}
#edit-button{
    position: relative;
    float: right;
    width:100px;
    background-color: teal;
    color:white;
    border-radius: 5px;
}
#edit-button:hover{
    background-color: black;
}
#profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: black;
    margin-bottom:10px;
}
#name{
    font-size: 1.3em;
    font-weight: bold;
}
#branch{
    font-weight: 500;
}
#year{
    font-weight: 500;
}
#desc{
    margin-top:10px;
    margin-bottom: 10px;
    width: 500px;
    font-weight: 500;
}
#work{
    font-weight: 500;
}
.left{
    margin-left: 0;
}
.post{
    width: 80%;
    background-color: black;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5pxs;
}
@media screen and (max-width: 992px)
{
    .container{
        width: 90%!important;
    }
    h3{
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px!important;
    }
    #desc{
        width: 95%!important;
    }
}