.box{
    width: 50%;
    margin: auto;
    border-radius: 5px;
    margin-top: 130px;
    box-shadow: 0 0 20px 1px rgb(0,0,0,0.3);
    
}
.box #question{
    width: 90%;
    height: 100px;
}
.box .btn-primary{
    background-color: teal!important;
    /*border-color: teal!important;*/
    border: none!important;
}
.box .btn{
    border: none!important;
}
.box .btn:focus{
    background-color: orange!important;
    outline: none!important;
    border: none!important;
}

.box textarea{
    border-radius: 5px;
  
}
@media only screen and (max-width:992px){
    .box{
        width:70%;
    }
}
.box #branch{
    border-radius: 5px;
}
@media only screen and (max-width:768px){
    .box{
        width:80%;
    }
}
@media only screen and (max-width:478px){
    .box{
        width:90%;
    }
}