.Containerr{
    width:400px;
    box-shadow: 0 0 10px 1px rgb(50,50,50,0.5);
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.roww{
    width: 70%;

    margin: auto;
    margin-top:20px;
    margin-bottom:30px;
}
h5{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
button{
    background-color: teal;
    color:white;
}
button:focus{
    background-color: orange;
}
::-webkit-input-placeholder {
    text-align: center;
  }