*{
  margin: 0;
}

.app{
  background-color: white;
  height: 100vh;
}

.app__header{
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.app__headerImage{
  object-fit: contain;
  height: 8vmin;
}
